@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

body{
    background: #242121 ;
}

main{
    margin: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-align: center;
    margin-top: 0;
    color: white;
    font-family: 'Fascinate Inline', cursive;
}

.Counter{
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.whiteTitle{
    color: white;
}

button{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(131, 181, 131, 0.5);
}

button:hover{
    cursor: pointer;
}

.red{
    background-color: rgba(169, 112, 112, 0.5);
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article{
    width: 43%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 20px 5px rgba(252, 121, 135, 0.25);
}
.team:hover{
    border: 2px dashed red;
}

img{
    width: 100px;
    height: 100px;
}

.maj{
    text-align: end;
    color: rgba(128, 128, 128, 0.386);
}

@media (max-width: 768px){
    .flex{
        flex-direction: column;
    }
    article{
        width: 90%;
    }
}